/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/editor.xml
/.idea/misc.xml
/.idea/vcs.xml
/Build/Debug/BaseUnits.d
/Build/Debug/BaseUnits.o
/Build/Debug/Config.d
/Build/Debug/Config.o
/Build/Debug/Engine.d
/Build/Debug/Engine.o
/Build/Debug/Globals.d
/Build/Debug/Globals.o
/Build/Debug/Gui.d
/Build/Debug/Gui.o
/Build/Debug/GuiElements.d
/Build/Debug/GuiElements.o
/Build/Debug/GuiManager.d
/Build/Debug/GuiManager.o
/Build/Debug/IO.d
/Build/Debug/IO.o
/Build/Debug/Logging.d
/Build/Debug/Logging.o
/Build/Debug/ParticleSystem.d
/Build/Debug/ParticleSystem.o
/Build/Debug/Primitives.d
/Build/Debug/Primitives.o
/Build/Debug/RNG.d
/Build/Debug/RNG.o
/Build/Debug/RaylibModel.d
/Build/Debug/RaylibModel.o
/Build/Debug/ResourceManager.d
/Build/Debug/ResourceManager.o
/Build/Debug/ScriptingSystem.d
/Build/Debug/ScriptingSystem.o
/Build/Debug/StateMachine.d
/Build/Debug/StateMachine.o
/Build/Debug/TooltipSystem.d
/Build/Debug/TooltipSystem.o
/Build/Release/BaseUnits.d
/Build/Release/BaseUnits.o
/Build/Release/Config.d
/Build/Release/Config.o
/Build/Release/Engine.d
/Build/Release/Engine.o
/Build/Release/Globals.d
/Build/Release/Globals.o
/Build/Release/Gui.d
/Build/Release/Gui.o
/Build/Release/GuiElements.d
/Build/Release/GuiElements.o
/Build/Release/GuiManager.d
/Build/Release/GuiManager.o
/Build/Release/IO.d
/Build/Release/IO.o
/Build/Release/Logging.d
/Build/Release/Logging.o
/Build/Release/ParticleSystem.d
/Build/Release/ParticleSystem.o
/Build/Release/Primitives.d
/Build/Release/Primitives.o
/Build/Release/RNG.d
/Build/Release/RNG.o
/Build/Release/RaylibModel.d
/Build/Release/RaylibModel.o
/Build/Release/ResourceManager.d
/Build/Release/ResourceManager.o
/Build/Release/ScriptingSystem.d
/Build/Release/ScriptingSystem.o
/Build/Release/StateMachine.d
/Build/Release/StateMachine.o
/Build/Release/TooltipSystem.d
/Build/Release/TooltipSystem.o
